* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdfdff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
details{
  border:2px solid var(--c-dark);
  display: flex;
}
summary{
  list-style-image: none;
  cursor: pointer;
  font-weight:bold;
  position: relative;
  padding:15px 30px;
}
summary:after{
  content:"+";
  position:absolute;
  right:30px;
  top:50%;
  transform:translateY(-50%);

}
.summary-content{
  padding:15px 30px;
}

details[open] summary:after{
  content:"-";
}
details summary::-webkit-details-marker {
display:none;
}
